<html>
	<head><title>task master/meals</title></head>
	<link rel="stylesheet" type="text/css" href="/static/taskmaster.css" />
<body>
<h3><a href="/">taskmaster</a>/meals</h3>
<h3> last 20</h3>
<div class="code">
	<ul>
		{{#each lastMeals}}
		<li>{{this.date}} {{this.time}} {{this.eaters}} {{this.cook}} {{this.food}} <a href="/meal/{{this.id}}">edit</a></li>
		{{/each}}
	</ul>
</div>
<!--date, time, cook, eaters, food-->
<h3>actions</h3>
<p>
	<form action="/meals" method="post" >
		<ul>
			<li>
				date: <input type="text" id="input-date" name="date" value="2020-01-01"/>
				<input type="button" id="button-set-date" value="today" />
			</li>
			<li>
				meal: <input type="text" id="input-time" name="time" value="XXX"/>
				<input type="button" id="button-set-time-midi" value="midi" />
				<input type="button" id="button-set-time-soir" value="soir" />
			</li>
			<li>
				cook: <input type="text" id="input-cook" name="cook" value="X"/>
				<input type="button" id="button-set-cook-amelie" value="A" />
				<input type="button" id="button-set-cook-lise" value="L" />
				<input type="button" id="button-set-cook-maman" value="M" />
				<input type="button" id="button-set-cook-paul" value="P" />
				<input type="button" id="button-set-cook-x" value="X" />
			</li>
			<li>
				eaters: <input type="text" id="input-eaters" name="eaters" value="L,M,P,A"/>
				<input type="button" id="button-set-eater-amelie" value="A" />
				<input type="button" id="button-set-eater-lise" value="L" />
				<input type="button" id="button-set-eater-maman" value="M" />
				<input type="button" id="button-set-eater-paul" value="P" />
				<input type="button" id="button-clear-eaters" value="clear" />
			</li>
			<li>food: <input type="text" name="food" value=""/></li>
		</ul>
		<input type="submit" value="add" />
	</form>
</p>
<h3>navigate</h3>
<ul>
	<li><a href="/meals/dump">/meals/dump</a></li>
</ul>
<script type="text/javascript" src="/static/meals.js"></script>
</body>
</html>





