<html>
	<head><title>task master/meals</title></head>
	<link rel="stylesheet" type="text/css" href="/taskmaster/static/taskmaster.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
<div id="main">
	<h3><a href="/taskmaster/">taskmaster</a>/meals</h3>
	<h3> comptes</h3>
	<div>
		<table>
			<tr><td>cuisinier</td><td>repas</td><td>solde</td><td>tickets</td></tr>
			<tr><td>Amélie</td><td> {{this.counts.A.created}}/{{this.counts.A.present}}</td><td>{{this.tickets.A.balance}}</td><td>({{this.tickets.A.created}}/{{this.tickets.A.consumed}})</td></tr>
			<tr><td>Lise</td><td> {{this.counts.L.created}}/{{this.counts.L.present}}</td><td>{{this.tickets.L.balance}}</td><td>({{this.tickets.L.created}}/{{this.tickets.L.consumed}})</td></tr>
			<tr><td>Maman</td><td> {{this.counts.M.created}}/{{this.counts.M.present}}</td><td>{{this.tickets.M.balance}}</td><td>({{this.tickets.M.created}}/{{this.tickets.M.consumed}})</td></tr>
			<tr><td>Paul</td><td> {{this.counts.P.created}}/{{this.counts.P.present}}</td><td>{{this.tickets.P.balance}}</td><td>({{this.tickets.P.created}}/{{this.tickets.P.consumed}})</td></tr>
			<tr><td>commun</td><td> {{this.counts.X.created}}</td><td>{{this.tickets.X.created}}</td><td></td></tr>
		</table>
	</div>
	<!--date, time, cook, eaters, food-->
	<h3> actions</h3>
	<p>
		<form id="form-meal" action="/taskmaster/meals" method="post" >
			<fieldset>
				<legend>ajouter un repas</legend>
				<fieldset>
					<legend>date</legend>
					<input type="date" id="input-date" name="date" value=""/><br/>
					<input type="button" id="button-set-date" value="aujourd'hui" />
					</fieldset>
				<fieldset>
					<legend>repas</legend>
					<input type="text" id="input-time" name="time" value="XXX"/><br/>
					<input type="button" id="button-set-time-midi" value="midi" />
					<input type="button" id="button-set-time-soir" value="soir" />
				</fieldset>
				<fieldset>
					<legend>cuisinier</legend>
					<input type="text" id="input-cook" name="cook" value="X"/><br/>
					<input type="button" id="button-set-cook-amelie" value="A" />
					<input type="button" id="button-set-cook-lise" value="L" />
					<input type="button" id="button-set-cook-maman" value="M" />
					<input type="button" id="button-set-cook-paul" value="P" />
					<input type="button" id="button-set-cook-x" value="X" />
				</fieldset>
				<fieldset>
					<legend>convives</legend>
					<input type="text" id="input-eaters" name="eaters" value="L,M,P,A"/><br/>
					<input type="button" id="button-set-eater-amelie" value="A" />
					<input type="button" id="button-set-eater-lise" value="L" />
					<input type="button" id="button-set-eater-maman" value="M" />
					<input type="button" id="button-set-eater-paul" value="P" />
					<input type="button" id="button-clear-eaters" value="effacer" />
				</fieldset>
				<fieldset>
					<legend>menu</legend>
					<input id="input-food" type="text" name="food" value="" autocapitalize="off"/>
				</fieldset>
			<p id="input-meal-warning" style="display: none"><span style="color: red;">Il faut remplir tous les champs correctement!</span></p>
			<input id="input-meal-submit" type="submit" value="ajouter" />
			</fieldset>
		</form>
	</p>
	<h3> liens</h3>
	<ul>
		<li><a href="/taskmaster/meals/dump">/meals/dump</a></li>
	</ul>
	<h3> 20 derniers</h3>
	<div class="code">
		<ul>
			{{#each lastMeals}}
			<li>{{this.date}} {{this.time}} {{this.cook}} {{this.eaters}} {{this.food}} <a href="/taskmaster/meal/{{this.id}}">edit</a></li>
			{{/each}}
		</ul>
	</div>
</div>
<div id="legal">&copy; bubble 2020 - meals V1.3.1 20200914</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==" crossorigin="anonymous"></script>
<script type="text/javascript" src="/taskmaster/static/meals.js"></script>
</body>
</html>





